
<nav class="navbar  fixed-top navbar-default scrolled" id="navbarcolor">
    <div class="container">
      <button class="navbar-toggler" onclick="openNav()">
          <img src="../../../img/menu-btn.svg" alt="menu button" width="40" style="border: 2px solid #fff; border-radius: 20px; padding:5px;">
      
      </button>
      <a class="navbar-brand mx-md-auto " href="/Components/Home/home.html">
        <em><h2 class="titleNav">Al <span>Atheer</span></h2></em>
    </a>


      <div class="d-none d-md-flex">
        <table>
          <tbody>
              <tr>
                <td>
                  
                   <table class="w-fit h-100">
                    <tbody>
                        <tr  style="cursor: pointer;" class="translate  ar " id="ar">
                         <td >
                            <span class="text-white lang-text">عربي</span>
                             </td>
                             <td>
                            <i class="fas fa-globe-americas text-white" aria-hidden="true"></i>
                         </td>
                        </tr>
                        <tr style="cursor: pointer;" class="translate en" id="en">
                          <td >
                             <span class="text-white lang-text">English</span>
                              </td>
                              <td>
                             <i class="fas fa-globe-americas text-white" aria-hidden="true"></i>
                          </td>
                         </tr>
                     </tbody>
                    </table>
                  
                                    
                </td>
              </tr>
        </tbody>
    </table>
        
        
      </div>
         

    </div>
    <div id="myNav" class="overlay" style="width: 0%;">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <ul id="hide-nav" class="navbar-nav w-fit mx-auto text-center" style="display: none;">
        <li class="nav-item active">
          <a class="nav-link" href="/Components/Home/home.html" data-localize="navHome">Home            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Components/Home/home.html#servicesSection" onclick="closeNav()" data-localize="navServices">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/Components/Home/home.html#about" onclick="closeNav()" data-localize="navAbout">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Components/OurWork/ourWork.html" data-localize="navWork">Our Work</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" href="/Components/OurClients/ourClient.html" data-localize="navClients">Our Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Components/Career/career.html" data-localize="navCareers">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Components/ContactUs/contactUs.html" data-localize="navContact">Contact Us</a>
        </li>
      
                <li class="nav-item d-lg-none">
          <a class="translate ar" style="text-align: center;" id="ar">عربي</a>
          <a class="translate en" id="en">English</a>

        </li>
               </ul>
    </div>
    <a href="https://api.whatsapp.com/send?phone=+20123456789&amp;text=مرحبا" class="float" target="_blank">
      <i class="fab fa-whatsapp my-float"></i>
     </a>
     <a style="
    position: fixed;
    width: 57px;
    height: 57px;
    bottom: 7px;" href="tel:+010123456789" class="float" target="_blank">
   <i class="fas fa-phone-alt my-float"></i>
</a>
 