:root{
    
    --direction: ltr;

}  
.navbar{
    direction:var(--direction) ;
}

.navbar-default.scrolled {
    background: rgb(78, 175, 180);
}

.navbar-toggler,.translate{
    // filter: drop-shadow(2px 4px 6px white);
    &:hover{
        transform: scale(1.1);
        }
        &:focus{
        border:0px;
        outline:0px;
        }
}
.titleNav{
    // filter: drop-shadow(2px 4px 6px white);
    font-style: italic;
    color: #e4dfdffa;
    font-family: initial;

    font-weight: 400;
    letter-spacing: 5px;

    

    
    &:hover{
      transform: scale(1.1);
      
  }
  span{
    font-weight: 600;
    color: white;
  }
  

}
.overlay{
    z-index: 1031;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(78, 175, 180);
    overflow-x: hidden;
    transition: 0.5s;
    .closebtn {
        position: absolute;
        top: 20px;
        
        font-size: 60px;
        left: 20%;
        text-decoration: none;

        

    }
    a{
        padding: 8px;
        text-decoration: none;
        font-size: 28px;
        color: #fff;
        display: block;
        transition: 0.3s;
        letter-spacing: 2px;
        filter: drop-shadow(2px 4px 6px white);
        &:hover{
            color: rgb(93, 94, 95);
            filter: drop-shadow(2px 4px 6px rgb(93, 94, 95));
        }
    }
    #hide-nav {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                a{
                    &:hover{
                        transform: scale(1.1);
                        
                    }
                }

              }
}
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 75px;
    right: 5px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    .my-float {
      margin-top: 16px;
      }
    }