<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <title> Al Atheer - Software House</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta name="description" content="    Al Atheer is the software house made websites and mobile applications for iPhone and Android.">
        <meta content="A software company, a programming company, a website design and programming company, an application programming company, iPhone application programming, Android application programming, Huawei application programming, website programming, Haraj programming, online store programming, website design" name="keywords">


        <!-- Favicon -->
        <!-- <link href="img/favicon.ico" rel="icon"> -->

        <!-- Google Fonts -->

        <!-- CSS Libraries -->
        <!-- <link rel='stylesheet' href='../../normalize.css'> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0//animate.css">




        <!-- Template Stylesheet -->
        <link href="apply.css" rel="stylesheet">
        <link href="../ShareCompnent/Header/header.css" rel="stylesheet">
        <link href="../ShareCompnent/Footer/footer.css" rel="stylesheet">
     
    </head>

    <body>
        <div id="header"></div>
        <section class="s1">
            <div class="container">

            
            <div >
		
                <div class="Module">
                    <div class="ItemDetails">
                        
                        <div class="HeaderContentPlaceholder">
                            <h1 class="Title" data-localize="Jop Title">
                                Jop Title
                                
                            </h1>
                        </div>
                    </div>
                    
                    <div >
                    </div>
                            
                    <div class="wizard">
                     <div class="SurveyPage wizardpage surveyOnePage">
                        <div class="Section">
                            <div class="SectionHeader">
                                <span  class="SectionName" data-localize="Information">Information</span>
                                <span  class="SectionDescription" data-localize="Thank you for your interest in our offer Please fill out the form below">Thank you for your interest in our offer. Please fill out the form below.</span>
                            </div>
                         </div>
                                    
                                
                         <div class="Section CandidatesFirstNameLastNameEmail">
                            <div class="SectionHeader">
                             <span  class="SectionName" data-localize="Personal information">Personal information</span>
                             <span  class="SectionDescription"></span>
                            </div>
                        <div >

        
                       <table  class="formDataReadViewTable">
                            <tbody>
                                <tr>
                                    <td class="formLeftColumn">
                                        <label   class="formDataReadView" data-localize="First name" >First name</label>
                                    </td>
                                    <td class="formRightColumn">
                                        <input type="text"  class="textbox">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formLeftColumn">
                                        <label   class="formDataReadView" data-localize="Last name">Last name</label>
                                    </td>
                                    <td class="formRightColumn">
                                        <input  type="text" class="textbox">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formLeftColumn">
                                        <label   class="formDataReadView" data-localize="E-mail address">E-mail address</label>
                                    </td>
                                    <td class="formRightColumn">
                                        <input type="text"  class="textbox">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formLeftColumn">
                                        <label   class="formDataReadView" data-localize="Mobile phone">Mobile phone</label>
                                    </td>
                                    <td class="formRightColumn">
                                        <input  type="text" class="textbox TextBoxMidSize">
                                    </td>
                                </tr>
                        </tbody>
                      </table>
        
                </div>      
             </div>
                                    
             <div class="Section CandidatesCvUploadToDocs">
                <div class="SectionHeader">
                                <span  class="SectionName" data-localize="Curriculum Vitae">Curriculum Vitae</span>
                                <span  class="SectionDescription" data-localize="Please upload your CV">Please upload your CV.</span>
                            </div>
                        <div>
                            
                    <table class="formDataReadViewTable">
                        <tbody>
                             <tr>
                                <td class="formLeftColumn formLeftColumnCv ">
                                   <span  class="formDataReadView" data-localize="CV">CV</span>
                                </td>
                                 <td class="formRightColumn">
                                    <div class="FileUploadWithValidation">
                                        <span class="file-upload-wrapper">
                                            <label class="btn-file">
                                                <span class="btn-file-text" data-localize="Select file">Select file</span>
                                                <span class=""></span>
                                                <input type="file" aria-required="true" >
                                            </label>
                                            <span class="file-uploaded" data-localize="No file selected">No file selected</span>
                                        </span>
                                     </div>
                                 </td>
                            </tr>
                          </tbody>
                       </table>
                    </div>
                 </div>
              </div>
            </div>
                                
        
                </div>
                 <div class="CommandsDiv ApplyCancelSection">
                     <a  id="ctl00_ContentPlaceHolder1_Survey1_LbApply" data-localize="Apply" class="ApplyCommands JobOffersHlApply" href=''>Apply</a>
                     <a id="ctl00_ContentPlaceHolder1_Survey1_hlCancel" class="ApplyCommands Cancel" data-localize="Cancel" href="/Components/Career/career.html">Cancel</a>
                  </div>
                </div>
            
            </div>
        </div>
        </section>

        
           
   

        <footer id="footer">
  
        </footer>
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localize/0.1.0/jquery.localize.js" integrity="sha512-8cFOrybNSH+nRZ56bLnTW0ABP/qpx45QRZwuIvgjjQCIRVsEKDaqLtuq9QY5cJjlAz376K10rgHy/gc667K9NA==" crossorigin="anonymous"></script> -->
<!-- 
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous"></script>       <script>
          new WOW().init();
         </script> -->

        

  
        <!-- Template Javascript -->
                <!-- Template Javascript -->
                <script>
                    $(function(){
                          $("#header").load("../ShareCompnent/Header/header.html"); 
                          $("#footer").load("../ShareCompnent/Footer/footer.html"); 
                                   
                    });
                </script>
             
                <script src="../ShareCompnent/Footer/footer.js"></script>
                <script src="../ShareCompnent/Header/header.js"></script>
                <script src="apply.js"></script>
                
       
        
    </body>
</html>

